.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

cache/*

machine_learning/checkpoints/*
machine_learning/generated/*
machine_learning/histories/*
machine_learning/summary/*

data_cabspotting/original/*
data_geolife/original/*
data_t-drive/original/*
data_mdc/original/*
data_mdc/uncompressed/*

osmnx_data/*

*.pkl
*.csv
*.data

*.osm.xml
